/*===================================
               公共样式
====================================*/

body {
    font-family: '微软雅黑', sans-serif;
}

/*===================================
               导航区域
====================================*/
nav.nav {
    margin-bottom: 20px;
}

nav .navbar-nav span {
    padding-right: 5px;
}

/*===================================
               头像
====================================*/
.wh50 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/*===================================
               用户管理
====================================*/
.page-header {
    margin-top: 0;
}
.page-header h1 {
    margin: 0;
    font-size: 16px;
}
/*===================================
               用户搜索
====================================*/
form.user_search {
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
}
/*===================================
               tag
====================================*/
.taglist {
    padding: 15px;
}
.taglist .alert {
    margin: 0 10px 10px 0;
}
.pad0 {
    padding: 0;
}
